{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Products Dashboard UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="{% static 'script/script.js' %}"></script>
    {% if tabulated %}
    <script src="{% static 'script/grid-script.js' %}"></script>
    {% endif %}
  </body>
</html>
