{% extends 'home_main.html' %} {% block content %}
<div class="app-container">
  {% include 'base/components/sidebar_component.html' %}
  <div class="app-content">
    {% include 'base/components/header_component.html' %}
    <div class="products-area-wrapper">
      {% for msg in messages %}
      <div class="message-list">
        <div class="message-user">
        <div class="message-user-img" style="background-image: url('https://images.unsplash.com/photo-1541752171745-4176eee47556?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ');">
        </div>
        <a href="{% url 'profile-page' %}?username={{ msg.user.username }}" style="text-decoration: none; color: var(--app-content-main-color);">
          @{{ msg.user.username }}
        </a>
        </div>
        <div class="message-msg">{{ msg.message }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}