{% extends 'home_main.html' %} {% block content %}
<div class="app-container">
  {% include 'base/components/sidebar_component.html' %}
  <div class="app-content">
    {% include 'base/components/header_component.html' %}
    <div class="products-area-wrapper tableView">
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{ user.name }}</h3>
            <p>@{{ user.username }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.phone }}</p>
          </div>
          {% if user.username != 'admin' %}
          <div class="profile__about">
            <h3>Activity :</h3>
            <p>Last Order : {{ user.booking_set.all.0.date }}</p>
            <p>Total Orders : {{ user.booking_set.all.count }}</p>
            <p>Created On : {{ user.date_joined.date }}</p>
            <p>Last Logged : {{ user.last_login }}</p>
          </div>
          <div class="profile__about">
            <h3>Last Orders :</h3>
            {% if orders.count > 0 %}
            {% include 'base/components/orders_component.html' %}
            {% else %}
            <p>No Orders Yet</p>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
