{% extends 'home_main.html' %} {% block content %}
<div class="app-container">
  {% include 'base/components/sidebar_component.html' %}
  <div class="app-content">
    {% include 'base/components/header_component.html' %}
    <div class="products-area-wrapper tableView">
      <div class="form-des">
        <form class="form-container" action="" method="post">
          {% csrf_token %}
          <label for="time" class="form-label">Time Slot :</label>
          <select name="time" id="time" class="input-field-des">
            {% for slot in slots %}
            <option value="{{ slot.time|time:'H:i:s' }}">{{ slot.time }}</option>
            {% endfor %}
          </select>
          <label for="amt" class="form-label">Amount :</label>
          <input type="number" name="amt" id="amt" class="input-field-des" required />
          <input type="submit" value="Edit" class="button-field-des" />
        </form>
        {% if message %}
        <p style="color: var(--app-content-main-color);">Amount Changed SuccessFully</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
