{% extends 'home_main.html' %}{% block content %}
<div class="app-container">
  {% include 'base/components/sidebar_component.html' %}
  <div class="app-content">
    {% include 'base/components/header_component.html' %}
    <div class="products-area-wrapper tableView">
      <div class="profile__about">
        <div class="row">
          <h4 class="mt-5">Last 7 Days :</h4>
          <div id="bar-chart">
            <div class="graph">
              <ul class="x-axis">
                {% for stat in statistics %}
                <li><span>{{ stat }}</span></li>
                {% endfor %}
              </ul>
              <ul class="y-axis">
                <li><span>12</span></li>
                <li><span>10</span></li>
                <li><span>8</span></li>
                <li><span>6</span></li>
                <li><span>4</span></li>
                <li><span>2</span></li>
                <li><span>0</span></li>
              </ul>
              <div class="bars">
                {% for key, value in statistics.items %}
                <div class="bar-group">
                  <div class="bar bar-2 stat-2" style="height: {{ value }}%;">
                    <span>5680</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
